{% extends 'base.html' %}
{% block content %}
<h1>القصص قيد المراجعة</h1>
<p>kdk</p>
<table>
    <thead>
        <tr>
            <th>المعرف</th>
            <th>العنوان</th>
            <th>اسم المؤلف</th>
            <th>تاريخ التقديم</th>
            <th>إجراءات</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5" class="no-story">لا توجد قصص قيد المراجعة حالياً.</td>
        </tr>
        <tr>
            <td class="actions">
                <div>
                    <!-- القبول و الرفض و السبب -->
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}