<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>عوالمنا</title>
    <link rel="icon" href="{{ url_for('static', filename='Website.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <div class="container">
        <h1>تم حذف الحساب بنجاح</h1>
        <p>لقد تم حذف حسابك بنجاح.</p>
        <p>نأسف لرحيلك، نأمل أن نراك مرة أخرى في المستقبل.</p>
    </div>
</body>

</html>