{% extends 'base.html' %}
{% block content %}
<!-- إضافة بطاقتين اشتراك هنا -->
<div class="subscription-cards">
    <div class="card1">
        <h2>بطاقة اشتراك 1</h2>
        <p>السعر: 10$</p>
        <p>مدة الاشتراك: 1 شهر</p>
        <ul>
            <li>مشاهدة صاحب الرواية و القدرة على متابعته</li>
            <li>كتابة تعليق</li>
            <li>تقيم الرواية</li>
            <li>اضافة ميزة الاستماع للقصة</li>
        </ul>
        <button>اشتراك</button>
    </div>
    <div class="card2">
        <h2>بطاقة اشتراك 2</h2>
        <p>السعر: 10$</p>
        <p>مدة الاشتراك: 1 سنة</p>
        <ul>
            <li>مشاهدة صاحب الرواية و القدرة على متابعته</li>
            <li>كتابة تعليق</li>
            <li>تقيم الرواية</li>
            <li>اضافة ميزة الاستماع للقصة</li>
        </ul>
        <button>اشتراك</button>
    </div>
</div>
<div class="card3"></div>
<h2>اشتراك المركز التعليمي</h2>
<p>اتفاق بين المركز التعلمي والموقع</p>
{% endblock %}